spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
        show_sql: false

  flyway:
    enabled: true

server:
  port: 8080

app:
  jwt:
    access-secret: ${APP_JWT_ACCESS_SECRET}
    refresh-secret: ${APP_JWT_REFRESH_SECRET}
    access-expiration-ms: 900000
    refresh-expiration-ms: 1209600000